.body {
    display: flex;
}
.colour-bar1, .colour-bar2, .colour-bar3 {
    height: 40px;
    width: 150px;
    text-align: right;
    padding-right: 5px;
}
.lrg {
    height: 150px;
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}
.jumbotron {
    text-align: center;
    cursor: pointer;
}
.bold {
    font-weight: 700;
}
.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form input{
    width: 75%;
    border-radius: 3px;
    border: 2px solid grey;
    padding: 10px;
    height: 54px;
    vertical-align: bottom;
    margin-right: 20px;
}
.form button {
    border-radius: 4px;
    border: none;
    background-color: grey;
    color: lightgrey;
    padding: 15px 20px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
}
.colour-schemes {
    height: calc(100vh - 100px);
    width: 150px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
}
.coming-soon {
    text-align: center;
    background-color: grey;
    color: lightgrey;
    padding: 50px 0;
    flex: 1 1 auto;
}
.palette {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.palette::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.6);
}
.palette:hover:after {
    opacity: 0;
}
.content {
    margin: 40px 100px 100px 100px;
}
.the-title {
    font-size: 60px;
    font-weight: 700;
}
.the-subheading {
    font-size: 36px;
    font-weight: 600;
    color: grey;
}
.the-br {
    height: 2px;
    background-color: grey;
    margin: 40px auto;
}
.the-button {
    border-radius: 4px;
    background-color: grey;
    color: lightgrey;
    padding: 15px 40px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    margin-right: 25px;
}
.the-button-inverse {
    border-radius: 4px;
    background-color: lightgrey;
    color: grey;
    padding: 15px 40px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
}
@media all and (max-width: 560px) {
    .content {
        margin: 40px 50px 100px 50px;
    }
}