<div class="body">
  <div id="colours" class="colour-schemes">
    <div *ngFor="let c of colours" id="{{ c.id }}" (click)="setColour(c)" class="palette" routerLink="{{ c.id }}">
      <div class="colour-bar1" [ngStyle]="{'background-color': c.color1 }">
        <h2 [ngStyle]="{'color': c.color2 }">{{ c.paletteName }}</h2>
      </div>
      <div class="colour-bar2" [ngStyle]="{'background-color': c.color2 }"></div>
      <div class="colour-bar3" [ngStyle]="{'background-color': c.color3 }"></div>
    </div>
    <div class="coming-soon">
      <h3>More Colour Palettes Coming Soon...</h3>
    </div>
  </div>
  <div class="content">
      <h1>Colour Palette Tester</h1>
      <p>Choose a colour palette from the sidebar to see it in action on the elements below.</p>
      <form class="form">
        <input #search type="text" name="search">
        <button (click)="searchSchemes(search.value)">Search</button>
      </form>
      <div *ngIf="coloursSearch" class="jumbotron">
        <h3>Results: {{ coloursSearch[0].paletteName }} Palette</h3>
        <div class="lrg" [ngStyle]="{'background-color': coloursSearch[0].color1 }">
          <p>Accent</p>
          <p>{{ coloursSearch[0].color1 }}</p>
        </div>
        <div class="lrg" [ngStyle]="{'background-color': coloursSearch[0].color2 }">
          <p>Primary</p>
          <p>{{ coloursSearch[0].color2 }}</p>
        </div>
        <div class="lrg" [ngStyle]="{'background-color': coloursSearch[0].color3 }">
          <p>Secondary</p>
          <p>{{ coloursSearch[0].color3 }}</p>
        </div>
      </div>
  </div>
  <router-outlet name="aux"></router-outlet>
</div>
